form#loginForm {
  max-width: 500px;
  margin: 0;
  padding: 0;
}

form#loginForm div {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

form#loginForm div:last-of-type {
  margin: 0;
}

form#loginForm label {
  color: #555;
  font-size: 16px;
}

form#loginForm input {
  width: 100%;
  box-sizing: border-box;
  padding: 5px;
  background: none;
  border: none;
  color: #555;
  border-bottom: var(--colorOscuro) solid 1px;
}

form#loginForm button {
  background-color: var(--colorOscuro);
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 10px;
  font-weight: bold;
}

form#loginForm button:hover {
  background-color: var(--colorButtonHover);
}

form#loginForm button:active {
  outline: none;
  background-color: var(--colorButtonActive);
}

form#loginForm input:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  form#loginForm div {
    padding: 0;
  }
  form#loginForm {
    padding: 0 10px;
  }
}
