
#componentePerfil h1{
    color: var(--colorClaro) ;
    background-color: var(--colorOscuro);
    text-align: center;
    padding: 10px;
    margin-bottom: 3em;

}

#datosPerfil{
    margin: auto;
    
}

#datosPerfil p{
    color: #000 ;
}

#datosPerfil h3{
    color: #000;
}


#componentePerfil div{
    align-items: center;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#imagenPerfil{
    display: flex;
    
    align-content: center;
    justify-content: center;
}

#imagenPerfil img{
    border-radius: 100%;
    max-width: 100%;
}

