.filters-container {
  color: #000;
  position: fixed;
  margin-top: 50px;
}

.filters-container span {
  font-size: 1.5em;
}

.filters-container ul {
  padding-left: 20px;
  padding-top: 10px;
}

.filters-container label {
  font-size: 1.2em;
}
